//------------------------------------------------------------
// Color variables
//------------------------------------------------------------

//---------------------------------
// Base colors
//---------------------------------
@accent_bg_color: #3584e4;
@text_color: rgba(0, 0, 0, 0.8);

@headerbar_bg_color: #ebebeb;
