//------------------------------------------------------------
// Color variables
//------------------------------------------------------------

//---------------------------------
// Base colors
//---------------------------------
@accent_bg_color: #3584e4;
@accent_fg_color: #ffffff;
@text_color: rgba(0, 0, 0, 0.8);
@borders_color: rgba(0, 0, 0, 0.12);

@window_bg_color: #fafafa;

@headerbar_bg_color: #ebebeb;

@view_hover_color: rgba(0, 0, 0, 0.056);
@view_active_color: rgba(0, 0, 0, 0.128);
@view_selected_color: rgba(0, 0, 0, 0.08);
@view_selected_hover_color: rgba(0, 0, 0, 0.104);
@view_selected_active_color: rgba(0, 0, 0, 0.152);
