@import "main.less";

//------------------------------------------------------------
// Contact sidebar
//------------------------------------------------------------
.column-MessageListSidebar {
	background: @window_bg_color;
	border-left: 1px solid @borders_color;
	// padding: 10px;

	.sidebar-participant-picker {
		padding: 16px 16px 20px;
	}

	.sidebar-section.visible {
		background: @window_bg_color;
		border: 0;
	}
}

//------------------------------------------------------------
// Contact details
//------------------------------------------------------------
.sidebar-section.visible {
	margin-top: 24px;
}

.participant-profile .larger, .company-profile .larger {
	font-size: 18px;
	color: @text_color;
}

.participant-profile .personal-info .email, .company-profile .personal-info .email {
	font-size: @text_size;
	color: @text_color;
}

.sidebar-contact-card p {
	margin: 0 0 20px;
	font-size: @text_size;
	color: @text_color_dim;
}
