@import "main.less";

//------------------------------------------------------------
// Contact sidebar
//------------------------------------------------------------
.column-MessageListSidebar {
	background: @window_bg_color;
	border-left: 1px solid @borders_color;
	// padding: 10px;

	.sidebar-participant-picker {
		padding: 16px 16px 20px;
	}

	.sidebar-section.visible {
		margin-top: 40px;
		background: @window_bg_color;
		border: 0;
	}
}

//------------------------------------------------------------
// Avatar
//------------------------------------------------------------
@avatar_size: 64px;

.participant-profile, .company-profile {
	.contact-profile-photo {
		width: @avatar_size;
		height: @avatar_size;
		left: ~"calc(50% - @{avatar_size}/2)";
		top: -44px;
		background: none;
		box-shadow: none;
		padding: 0;

		.profile-photo {
			width: @avatar_size;
			height: @avatar_size;
			border-radius: 50%;

			.default-profile-image {
				width: @avatar_size;
				height: @avatar_size;
				line-height: @avatar_size;
				border-radius: 50%;
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
}

//------------------------------------------------------------
// Contact details
//------------------------------------------------------------
.sidebar-section.visible {
	margin-top: 24px;
}

.participant-profile .larger, .company-profile .larger {
	font-size: @text_size_large;
	color: @text_color;
}

.participant-profile .personal-info .email, .company-profile .personal-info .email {
	font-size: @text_size;
	color: @text_color;
}

.sidebar-contact-card p {
	margin: 0 0 20px;
	font-size: @text_size;
	color: @text_color_dim;
}

//------------------------------------------------------------
// Related threads
//------------------------------------------------------------
.related-threads {
	border-top: 0;
	height: auto !important;

	.related-thread {
		border-top: 0;
		border-bottom: 1px solid @borders_color;
		font-size: @text_size;
		color: @text_color;

		&:first-child {
			border-top: 1px solid @borders_color;
		}

		&:hover {
			background: @list_hover_color;
		}

		&:active {
			background: @list_selected_color;
		}
	}

	.toggle {
		border-top: 0;
		font-size: @text_size;
		color: @link_color;

		&:hover {
			color: @link_hover_color;
			cursor: pointer;
		}
	}
}
