@import "adw-variables";

//------------------------------------------------------------
// Draft list area
//------------------------------------------------------------
.column-DraftList {
	background: @window_bg_color;

	// Needed to fake bottom border for drafts toolbar
	border-top: 5px solid @window_bg_color;

	.draft-list {
		border-top: 1px solid @borders_color;
	}

	.scroll-region .scroll-region-content-inner {
		margin: 16px;
	}

// 	.empty-state .perspective-empty-state .message {
// 		color: @clrTextFaded;


// 		.btn {
// 			background-color: @clrButtonBg;
// 			border: 1px solid @clrButtonBorder;
// 			color: @clrButtonText;
// 			font-size: 14px;

// 			&:hover {
// 				background-color: @clrButtonBgHover;
// 				border: 1px solid @clrButtonBorderHover;
// 			}

// 			&:active {
// 				background-color: @clrButtonBgActive;
// 				border: 1px solid @clrButtonBorderActive;
// 				color: @clrButtonTextActive;
// 			}
// 		}
// 	}

// 	.empty-state .perspective-empty-state img {
// 		background-color: @clrTextFadedLess;
// 	}
}

//------------------------------------------------------------
// Draft items
//------------------------------------------------------------
.draft-list .list-container .list-item {
	background-color: @card_bg_color;
	border-bottom: 1px solid @borders_color;
	border-left: 0;
	color: @text_color;

	.participants {
		font-size: @text_size;

		&.no-recipients {
			color: @text_color_dim;
		}
	}

	.subject {
		font-size: @text_size;
	}

	.snippet, .timestamp {
		color: @text_color_dim;
		font-size: @text_size;
	}

// 	.checkmark .inner {
// 		.arc-control(@imgCheckUnchecked, 16px);
// 	}

	&:hover {
		background-color: @view_hover_color;
	}

	&.selected {
		background-color: @view_selected_color;

		&:hover {
			background-color: @view_selected_hover_color;
		}

		// 		.checkmark .inner {
// 			.arc-control(@imgCheckChecked, 16px);
// 		}
	}

	&.keyboard-cursor {
		outline: 2px solid @focus_border_color;
		outline-offset: -2px;
	}
}

// //------------------------------------------------------------
// // Scroll bar
// //------------------------------------------------------------
// .draft-list .scrollbar-track {
// 	.arc-scrollbar();
// }
