@import "adw-variables";

// //------------------------------------------------------------
// // Message list toolbar
// //------------------------------------------------------------
// .toolbar-MessageList {
// 	.message-toolbar-items {
// 		margin-right: 6px;
// 	}

// 	.btn-toolbar.mode-toggle {
// 		margin-left: 4.5px;
// 	}
// }

.toolbar-MessageList,
.toolbar-MessageListSidebar {
	height: 100%;
	background: @window_bg_color;
// 	border-left: 1px solid @clrWindowBorder;
	border-bottom: 1px solid @borders_color;

	//---------------------------------
	// Toolbar buttons
	//---------------------------------
	.btn-toolbar,
	.btn-icon {
		background: none;
		box-shadow: none;
		border: 0 !important;
		border-radius: 6px !important;
		padding: 0;
		width: 34px;
		height: 34px;

		img.content-mask {
			background-color: @text_color;
		}

		&:hover {
			background-color: @view_hover_color;
		}

		&:active {
			background-color: @view_active_color;

			img.content-mask {
				background-color: @text_color;
			}
		}

		&.mode-toggle.mode-false {
			background-color: @view_selected_color;

			img.content-mask {
				background-color: @text_color;
			}

			&:hover {
				background-color: @view_selected_hover_color;
			}

			&:active {
				background-color: @view_selected_active_color;
			}
		}

// 		&.disabled {
// 			opacity: 1;
// 			border-color: transparent !important;
// 			background-color: transparent;

// 			img.content-mask {
// 				background-color: @clrToolBtnTextDisabled;
// 			}
// 		}

// 		//---------------------------------
// 		// Inactive window toolbar buttons
// 		//---------------------------------
// 		body.is-blurred & {
// 			box-shadow: none;

// 			img.content-mask {
// 				opacity: 1.0;
// 			}

// 			&:hover {
// 				border-color: @clrToolBtnBorderHover;
// 				background-color: @clrToolBtnBgHover;
// 			}
// 		}

// 		body.is-blurred &.mode-toggle.mode-false {
// 			background-color: @clrToolBtnBgActive;
// 		}
	}

// 	.btn-icon {
// 		margin-top: 5px;
// 		padding: 0 13px;

// 		img.content-mask {
// 			-webkit-mask-position: -7px -15px;
// 			-webkit-mask-size: 48px;
// 			height: 32px;
// 			width: 32px;
// 		}
// 	}
}
