@import "adw-variables";

//------------------------------------------------------------
// Message list area
//------------------------------------------------------------
.column-MessageList {
	background: @window_bg_color;
	border-left: 1px solid @borders_color;
}

#message-list {
	background: @window_bg_color;
}

#message-list .messages-wrap .scroll-region-content-inner {
	padding: 6px 20px;
}

//------------------------------------------------------------
// Message subject area
//------------------------------------------------------------
#message-list {
	.message-subject-wrap {
		padding: 0;
	}

	// TODO: subject righ padding/margin
	.message-subject {
		color: @text_color;
		font-size: 20px;
		font-weight: bold;
	}

	.message-icons-wrap {
		cursor: default;

		div {
			background: none;
			border: 0;
		 	border-radius: @button_radius;
			width: 34px;
			height: 34px;
			text-align: center;

			img.content-mask {
				background-color: @text_color;
			}

			&:hover {
				background-color: @view_hover_color;
			}

			&:active {
				background-color: @view_active_color;
			}
		}
	}
}

//------------------------------------------------------------
// Message body
//------------------------------------------------------------
#message-list .message-item-wrap .message-item-white-wrap {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07), 0 2px 6px 2px rgba(0, 0, 0, 0.03) !important;
	background: @card_bg_color;
	border: 0;
	border-radius: @card_radius;
}

//------------------------------------------------------------
// Message header
//------------------------------------------------------------
#message-list .message-header {
	font-size: @text_size;
}

// TODO: fix overlap between header and buttons (reply, etc.)
.message-participants {
	.from-contact {
		color: @text_color;
	}

	&.to-participants .collapsed-participants {
		margin-top: 3px;
	}

	.from-label,
	.to-label,
	.reply-to-label,
	.cc-label,
	.bcc-label {
		color: @text_color;
		font-weight: bold;
	}

	.to-contact,
	.reply-to-contact,
	.cc-contact,
	.bcc-contact,
	.to-everyone {
		color: @text_color;
	}

	.expanded-participants {
		.from-label,
		.to-label,
		.reply-to-label,
		.cc-label,
		.bcc-label {
			color: @text_color;
			font-weight: bold;
		}
	
		.participant-primary,
		.participant-secondary {
			color: @text_color;
		}
	}
}

#message-list {
	.message-header {
		margin-bottom: 12px;

		.header-row {
			.header-label {
				color: @text_color;
				font-weight: bold;
			}

			.header-name {
				color: @text_color;
			}
		}

		.message-time,
		.message-indicator {
			color: @text_color_dim;
		}
	}

// 	.header-toggle-control img {
// 		background: @clrTextFaded;

// 		&:hover {
// 			background: @clrText;
// 		}
// 	}
}

//------------------------------------------------------------
// Message header buttons (reply/forward)
//------------------------------------------------------------
#message-list .message-header .message-actions-wrap {
	.button-dropdown.bordered {
		.primary-item,
		.secondary-picker {
			box-shadow: none;
			background: @button_color;
			border: 0;
			height: 34px;
			line-height: 34px;

			img.content-mask {
				background-color: @text_color;
			}
		}

		.primary-item {
			border-radius: @button_radius 0 0 @button_radius;
			margin-right: -1px;
		}

		.secondary-picker {
			border-radius: 0 @button_radius @button_radius 0;
			width: 24px;
		}

		.primary-item:hover,
		.secondary-picker:hover {
			background: @button_hover_color;
		}

		.primary-item:active,
		.secondary-picker:active {
			background: @button_active_color;
		}
	}
}

//------------------------------------------------------------
// Message footer
//------------------------------------------------------------
#message-list  .footer-reply-area-wrap {
	box-shadow: none;
	background: @window_bg_color;
	border: 0;
	margin-top: 12px;
	margin-bottom: 16px;

	//---------------------------------
	// Reply icon/text
	//---------------------------------
	.footer-reply-area {
		width: max-content;
		background: @button_color;
		border: 0;
		border-radius: @button_radius;
		color: @text_color;
		font-size: @text_size;
		font-weight: bold;
		height: 34px;
		line-height: 34px;
		padding: 0 10px;

		img.content-mask {
			background-color: @text_color;
		}

		&:hover {
			background-color: @button_hover_color;
		}

		&:active {
			background-color: @button_active_color;
		}
	}
}

// //------------------------------------------------------------
// // Collapsed message
// //------------------------------------------------------------
#message-list .message-item-wrap.collapsed {
	.message-item-white-wrap {
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07), 0 2px 6px 2px rgba(0, 0, 0, 0.03) !important;
		background-color: darken(@window_bg_color, 1.5%);
		border: 0;

		&:hover {
			background-color: darken(@window_bg_color, 4%);
		}
	}

	.message-item-area {
		.collapsed-from {
			color: @text_color_dim;
		}

		.collapsed-timestamp {
			color: @text_color_dim;
		}

		.collapsed-snippet {
			color: @text_color_dim;
		}
	}
}

// //------------------------------------------------------------
// // Minified messages
// //------------------------------------------------------------
// #message-list .minified-bundle {
// 	.msg-line {
//  		box-shadow: none;
// 		background-color: @clrBodyBg;
// 		border: 1px solid @clrWindowBorder;
// 		border-radius: 3px 3px 0 0;
// 	}

// 	.num-messages {
// 		background-color: @clrBodyBg;
// 		border: 1px solid @clrWindowBorder;
// 		color: @clrButtonText;

// 		&:hover {
// 			background-color: @clrButtonBgHover;
// 			border-color: @clrButtonBorderHover;
// 		}

// 		&:active {
// 			background-color: @clrButtonBgActive;
// 			border-color: @clrButtonBorderActive;
// 		}
// 	}
// }

// //------------------------------------------------------------
// // Selected messages stack
// //------------------------------------------------------------
// .selected-items-stack .selected-items-stack-content {
// 	.stack .card svg {
// 		stroke: @clrWindowBorder;
// 		fill: @clrBodyBg;
// 	}

// 	.count-info .count,
// 	.count-info .count-message {
// 		color: @clrListTextFadedLess;
// 	}
// }

//------------------------------------------------------------
// Unsubscribe link
//------------------------------------------------------------
.unsubscribe-action {
	color: @link_color;
	font-size: @text_size;

	&:hover {
		cursor: pointer;
		color: @link_hover_color;
	}
}

// //------------------------------------------------------------
// // Quoted text button
// //------------------------------------------------------------
// .quoted-text-control {
// 	background: @clrButtonBg;
// 	border: 1px solid @clrButtonBorder;
// 	color: @clrButtonText;
// 	height: 1.7em;
// 	font-size: 1em;
// 	padding: 0.3em 0.7em;
// 	margin: 16px 0 3px;

// 	&:hover {
// 		background: @clrButtonBgHover;
// 		border: 1px solid @clrButtonBorderHover;
// 		color: @clrButtonText;
// 		cursor: default;
// 	}

// 	&:active {
// 		background: @clrButtonBgActive;
// 		border: 1px solid @clrButtonBorderActive;
// 		color: @clrButtonTextActive;
// 	}
// }

// //------------------------------------------------------------
// // Message attachments
// //------------------------------------------------------------
// .nylas-attachment-item,
// .nylas-attachment-item.file-attachment-item:focus {
// 	//---------------------------------
// 	// File attachment box
// 	//---------------------------------
// 	.file-thumbnail-preview {
// 		border: 1px solid @clrWindowBorder !important;
// 		border-radius: 3px !important;
// 	}

// 	.inner {
// 		background: transparent;
// 		color: @clrText;
// 	}

// 	.file-info-wrap {
// 		border: none !important;

// 		.file-size {
// 			color: @clrTextFaded;
// 		}

// 		&:hover {
// 			cursor: pointer;
// 		}
// 	}

// 	.file-action-icon {
// 		background: @clrButtonBg;
// 		border: 1px solid @clrButtonBorder !important;
// 		border-radius: 3px !important;
// 		color: @clrButtonText;
// 		font-size: 14px;
// 		height: 2.1em;
// 		line-height: 1.9em;
// 		padding: 0 0.8em;
// 		margin-left: 8px;

// 		img.content-mask {
// 			background-color: @clrButtonText;
// 		}

// 		&:hover {
// 			background-color: @clrButtonBgHover;
// 			border: 1px solid @clrButtonBorderHover;
// 		}

// 		&:active {
// 			background-color: @clrButtonBgActive;
// 			border: 1px solid @clrButtonBorderActive;
// 			color: @clrButtonTextActive;

// 			img.content-mask {
// 				background-color: @clrButtonTextActive;
// 			}
// 		}
// 	}
// }

// //------------------------------------------------------------
// // Image attachment
// //------------------------------------------------------------
// .nylas-attachment-item.image-attachment-item {
// 	&:hover {
// 		border: none;
// 	}

// 	//---------------------------------
// 	// Download button (covers whole image)
// 	//---------------------------------
// 	.file-action-icon {
// 		right: 0px;
// 		top: 0px;
// 		width: 100%;
// 		height: 100%;
// 		background: transparent;
// 		cursor: pointer;

// 		img {
// 			display: none;
// 		}
// 	}

// 	//---------------------------------
// 	// Image name overlay
// 	//---------------------------------
// 	.file-preview .file-name-container {
// 		background: fade(@clrBodyBg, 70%);

// 		.file-name {
// 			color: @clrText;
// 			font-weight: 700;
// 		}
// 	}
// }

// //------------------------------------------------------------
// // Attachment download controls
// //------------------------------------------------------------
// .download-all {
// 	.attachment-number {
// 		font-size: 14px;
// 		color: @clrTextFadedLess;

// 		img.content-mask {
// 			background-color: @clrText;
// 		}
// 	}

// 	.separator {
// 		display: none;
// 	}

// 	.download-all-action {
// 		background: @clrButtonBg;
// 		border: 1px solid @clrButtonBorder;
// 		border-radius: 3px;
// 		color: @clrButtonText;
// 		font-size: 14px;
// 		height: 2.1em;
// 		line-height: 1.9em;
// 		padding: 0 0.8em;
// 		margin-left: 12px;

// 		img.content-mask {
// 			background-color: @clrButtonText;
// 		}

// 		&:hover {
// 			background-color: @clrButtonBgHover;
// 			border-color: @clrButtonBorderHover;
// 			color: @clrButtonText;
// 		}

// 		&:active {
// 			background-color: @clrButtonBgActive;
// 			border-color: @clrButtonBorderActive;
// 			color: @clrButtonTextActive;

// 			img.content-mask {
// 				background-color: @clrButtonTextActive;
// 			}
// 		}
// 	}
// }

// //------------------------------------------------------------
// // Gmail labels
// //------------------------------------------------------------
// .mail-label.removable {
// 	box-shadow: none !important;
// 	background: @clrAccent !important;
// 	color: @clrTextActive !important;
// 	margin-top: 3px;
// 	font-weight: 500;

// 	img.content-mask {
// 		background-color: @clrTextActive !important;

// 		&:hover {
// 			cursor: pointer;
// 		}
// 	}
// }

// //------------------------------------------------------------
// // Message warning bar
// //------------------------------------------------------------
// #message-list .show-hidden-messages {
// 	border: none;
// 	border-left: 3px solid @clrAccent;
// 	border-radius: 0px;
// 	background-color: @clrWarningBar;
// 	color: @clrTextFadedLess;
// 	margin-bottom: 16px;

// 	a {
// 		color: @clrAccent;
// 		cursor: pointer;
// 	}
// }

// .autoload-images-header {
// 	border: none;
// 	border-left: 3px solid @clrWarningYellow;
// 	border-radius: 0px;
// 	background-color: @clrWarningBar;
// 	color: @clrTextFadedLess;
// 	margin-bottom: 16px;

// 	.option {
// 		color: @clrWarningYellow;
// 		cursor: pointer;

// 		&:hover {
// 			color: @clrWarningYellow;
// 		}
// 	}
// }

// //------------------------------------------------------------
// // Event header
// //------------------------------------------------------------
// .event-wrapper {
// 	font-size: 14px;
// 	border: 1px solid @clrTextFadedMore;

// 	.event-header {
// 		border-bottom: 1px solid @clrTextFadedMore;

// 		.event-title-text {
// 			color: @clrTextFaded;
// 		}
// 		.event-title {
// 			color: @clrTextFadedLess;
// 		}

// 		.event-download {
// 			background-color: @clrButtonBg;
// 			border: 1px solid @clrButtonBorder;
// 			padding: 0 8px;

// 			img.content-mask {
// 				background: @clrButtonText;
// 			}

// 			&:hover {
// 				background-color: @clrButtonBgHover;
// 				border-color: @clrButtonBorderHover;
// 			}

// 			&:active {
// 				background-color: @clrButtonBgActive;
// 				border-color: @clrButtonBorderActive;

// 				img.content-mask {
// 					background: @clrButtonTextActive;
// 				}
// 			}
// 		}
// 	}

// 	.event-body {
// 		color: @clrText;

// 		.event-date .event-day {
// 			font-size: 14px;
// 			color: @clrTextFadedLess;
// 		}

// 		.event-location {
// 			color: @clrTextFadedLess;
// 		}
// 	}
// }

// //------------------------------------------------------------
// // Translation header
// //------------------------------------------------------------
// .translate-message-header {
// 	border: none;
// 	border-left: 3px solid @clrAccent;
// 	border-radius: 0px;
// 	background-color: @clrTranslateBar;
// 	color: @clrTextFadedLess;

// 	.message {
// 		border: none;

// 		.message-centered .note {
// 			opacity: 1;
// 			color: @clrTextFaded;
// 		}
// 	}

// 	.actions {
// 		.action {
// 			background: @clrButtonBg;
// 			border: 1px solid @clrButtonBorder;
// 			border-radius: 3px;
// 			color: @clrButtonText;
// 			margin: 3px;

// 			&:last-child {
// 				border-bottom: 1px solid @clrButtonBorder;
// 				margin-top: 0;
// 			}

// 			&.button-dropdown .only-item img.content-mask {
// 				background-color: @clrButtonText;
// 			}

// 			&:hover {
// 				background: @clrButtonBgHover;
// 				border: 1px solid @clrButtonBorderHover;
// 			}

// 			&:active {
// 				background: @clrButtonBgActive;
// 				border: 1px solid @clrButtonBorderActive;
// 				color: @clrButtonTextActive;

// 				&.button-dropdown .only-item img.content-mask {
// 					background-color: @clrButtonTextActive;
// 				}
// 			}
// 		}
// 	}
// }

// //------------------------------------------------------------
// // Scroll bars
// //------------------------------------------------------------
// #message-list .scrollbar-track,
// .composer-full-window .scrollbar-track {
// 	.arc-scrollbar();
// }
